<div class="tbl">
  <div class="r">
    <div class="tl">FUEL REPLENISHMENT DATA</div>
  </div>
  <div class="r">
    <div class="fld">ARRIVAL FUEL (KG)</div>
    <div class="ser">A</div>
    <div class="val hlgt">3540</div>
  </div>
  <div class="r">
    <div class="fld">TOTAL REQUIRED FUEL (KG)</div>
    <div class="ser">B</div>
    <div class="val hlgt">10800</div>
  </div>
  <div class="r">
    <div class="fld">FUEL FIGURE BEFORE REFULING (KG)</div>
    <div class="ser">C</div>
    <div class="val">3380</div>
  </div>
  <div class="r">
    <div class="fld">REFUELING SPECIFIC GRAVITY (SG)</div>
    <div class="ser">D</div>
    <div class="val">0.7870</div>
  </div>
  <div class="r">
    <div class="fld">CONVERSION FACTOR</div>
    <div class="ser">E</div>
    <div class="val">1.2706</div>
  </div>
  <div class="r">
    <div class="fld nt">
      <div>KG = L × SG</div>
      <div>L = IMP GAL × 4.546</div>
      <div>L = US GAL × 3.785</div>
    </div>
  </div>
  <div class="r">
    <div class="fld">
      METERED UPLIFT
      <div class="unt">LITER 🔘 IMP GAL ⚪️ US GAL ⚪️</div>
    </div>
    <div class="ser">F</div>
    <div class="val">9573</div>
  </div>
  <div class="r">
    <div class="fld">
      CALCULATED UPLIFT (B − C) × E
      <div class="unt">LITER 🔘 IMP GAL ⚪️ US GAL ⚪️</div>
    </div>
    <div class="ser">G</div>
    <div class="val">9428</div>
  </div>
  <div class="r">
    <div class="fld">TOTAL FUEL ON BOARD (KG)</div>
    <div class="ser">H</div>
    <div class="val hlgt">10914</div>
  </div>
  <div class="r">
    <div class="fld">DISCREPANCY (F − G)</div>
    <div class="ser">I</div>
    <div class="val">+145</div>
  </div>
</div>
