/* —————————— Navbar —————————— */
.navbar {
  background-color: var(--clr-pri-2);
  overflow: hidden;
}

.navbar a {
  display: block;
  float: left;

  color: var(--clr-pri-4);
  text-align: center;
  padding: var(--size-s) var(--size-m);
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--clr-sec-4);
  color: var(--clr-sec-6);
}
