<div>-</div>
<div>Maximum weight for (kg)</div>
<div>Take off fuel (+ kg)</div>
<div>Trip fuel (+ kg)</div>
<div>Allowed weight for take off<br />(Lowest of A, B or C)</div>
<div class="mob">-</div>
<div class="mob">Maximum weight for (kg)</div>
<div class="mob de-emph">Take off fuel (+ kg)</div>
<div class="mob de-emph">Trip fuel (+ kg)</div>
<div class="mob">Allowed weight for take off<br />(Lowest of A, B or C)</div>
<div class="mob">-</div>
<div class="mob">Maximum weight for (kg)</div>
<div class="mob de-emph">Take off fuel (+ kg)</div>
<div class="mob">Trip fuel (+ kg)</div>
<div class="mob">Allowed weight for take off<br />(Lowest of A, B or C)</div>
<div>Zero Fuel</div>
<div>62500</div>
<div>14500</div>
<div class="de-emph">↓</div>
<div>77000</div>
<div>Take off</div>
<div>77000</div>
<div class="spn-r-2 de-emph">↓</div>
<div>77000</div>
<div>Landing</div>
<div>66000</div>
<div class="de-emph">↓</div>
<div>11000</div>
<div>77000</div>
