/* #region ——————————————————————————— Variables ———————————————————————————— */
#wgt-tbl {
  /* ———————————— Colors ———————————— */
  --clr-pri: rgb(157, 208, 142);
  --clr-sec: rgb(228, 255, 228);
  --clr-bkg: rgb(255, 255, 255);

  /* ——————————— Borders ———————————— */
  /* TODO: magic number below to be aligned with global variables */
  --brd: 2px solid var(--clr-pri);
}
/* #endregion */

/* #region —————————————————————— Alignment & Padding ——————————————————————— */
@media screen and (max-width: 767px) {
  #wgt-tbl > :nth-child(6),
  #wgt-tbl > :nth-child(11),
  #wgt-tbl > :nth-child(21),
  #wgt-tbl > :nth-child(25) {
    margin-top: var(--size-xs);
  }
}

#wgt-tbl > * {
  display: flex;
  align-items: center; /* vertical */

  padding: var(--size-xxxxs) var(--size-xs);
}

#wgt-tbl > :nth-child(n+16):nth-child(-n+29) {
  justify-content: center; /* horizontal */
}
/* #endregion */

/* #region ——————————————————————————— Structure ———————————————————————————— */
#wgt-tbl {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(15, auto);
}

#wgt-tbl .spn-r-2 {
  grid-row: span 2;
}

@media screen and (min-width: 768px) {
  #wgt-tbl {
    grid-template-rows: repeat(5, auto);
  }

  #wgt-tbl .mob {
    display: none;
  }
}
/* #endregion */

/* #region ———————————————————————————— Borders ————————————————————————————— */
#wgt-tbl {
  border-bottom: var(--brd);
}

#wgt-tbl > * {
  border-top: var(--brd);
  border-left: var(--brd);
}

@media screen and (max-width: 767px) {
  #wgt-tbl > :nth-child(n + 16):nth-child(-n + 29) {
    border-right: var(--brd);
  }

  #wgt-tbl > :nth-child(5),
  #wgt-tbl > :nth-child(10),
  #wgt-tbl > :nth-child(20),
  #wgt-tbl > :nth-child(24) {
    border-bottom: var(--brd);
  }
}

@media screen and (min-width: 768px) {
  #wgt-tbl > :nth-child(n + 25):nth-child(-n + 29) {
    border-right: var(--brd);
  }
}
/* #endregion */

/* #region ————————————————————————————— Colors ————————————————————————————— */
#wgt-tbl > *:not(.de-emph) {
  background-color: var(--clr-bkg);
}

#wgt-tbl .de-emph {
  background-color: var(--clr-sec);
  color: var(--clr-pri);
}

@media screen and (max-width: 767px) {
  #wgt-tbl > :nth-child(4) {
    background-color: var(--clr-sec);
    color: var(--clr-pri);
  }
}
/* #endregion */
