<div class="col">
  <div class="cl">-</div>
  <div class="cl">Maximum weight for (kg)</div>
  <div class="cl">Take off fuel (+ kg)</div>
  <div class="cl ignrd-mob-only">Trip fuel (+ kg)</div>
  <div class="cl s-2">Allowed weight for take off<br>(Lowest of A, B or C)</div>
</div>
<div class="col">
  <div class="cl">Zero Fuel</div>
  <div class="cl">62500</div>
  <div class="cl">14500</div>
  <div class="cl ignrd">↓</div>
  <div class="cl s-2">77000</div>
</div>
<div class="col mob-only">
  <div class="cl">-</div>
  <div class="cl">Maximum weight for (kg)</div>
  <div class="cl ignrd">Take off fuel (+ kg)</div>
  <div class="cl ignrd">Trip fuel (+ kg)</div>
  <div class="cl s-2">Allowed weight for take off<br>(Lowest of A, B or C)</div>
</div>
<div class="col">
  <div class="cl">Take off</div>
  <div class="cl">77000</div>
  <div class="cl s-2 ignrd">↓</div>
  <div class="cl s-2">77000</div>
</div>
<div class="col mob-only">
  <div class="cl">-</div>
  <div class="cl">Maximum weight for (kg)</div>
  <div class="cl ignrd">Take off fuel (+ kg)</div>
  <div class="cl">Trip fuel (+ kg)</div>
  <div class="cl s-2">Allowed weight for take off<br>(Lowest of A, B or C)</div>
</div>
<div class="col">
  <div class="cl">Landing</div>
  <div class="cl">66000</div>
  <div class="cl ignrd">↓</div>
  <div class="cl">11000</div>
  <div class="cl s-2">77000</div>
</div>
