<div class="ttl">
  <div>🦅</div>
  <div>Payload and fuel docket</div>
</div>
<div class="dskt">Station</div>
<div class="dskt">Flt No.</div>
<div class="dskt">A/C Reg.</div>
<div class="dskt cols-3">Commander</div>
<div class="dskt">Crew</div>
<div class="dskt">Date</div>
<div class="mob">···</div>
<div class="dskt lbl">Dry Operating Wt (+ KG)</div>
<div class="dskt val">—</div>
<div class="lbl">Ramp Fuel (KG)</div>
<div class="val">14800</div>
<div class="dskt lbl">Joining Load (+ KG)</div>
<div class="dskt val">—</div>
<div class="lbl">Taxi out fuel (− KG)</div>
<div class="val">300</div>
<div class="dskt lbl">Transit Load (+ KG)</div>
<div class="dskt val">—</div>
<div class="lbl">Take off fuel (= KG)</div>
<div class="val">14500</div>
<div class="dskt lbl">Estimated ZFW (= KG)</div>
<div class="dskt val">—</div>
<div class="lbl">Trip Fuel (KG)</div>
<div class="val">11000</div>
<div class="lbl">MZFW (KG)</div>
<div class="val">62500</div>
<div class="lbl">RTOW (KG)</div>
<div class="val">77000</div>
<div class="cols-4">WEIGHT RESTRICTION/REASON</div>
<div class="cols-2 dskt">L/C OFFICER...</div>
<div class="cols-2 dskt">On Chx...</div>
<div class="cols-4">_ _ _ _ _ _ _ _ _ _</div>
<div class="cols-2 dskt">Commander...</div>
<div class="cols-2 dskt">Planned Dep. Time...</div>
<div class="mob">···</div>
