<div class="wrp">
  <div class="lg">🦅</div>
  <div class="tl">Payload and fuel docket</div>
</div>
<div class="inact">Station</div>
<div class="inact">Flt No.</div>
<div class="inact">A/C Reg.</div>
<div class="inact three-eighth">Commander</div>
<div class="inact">Crew</div>
<div class="inact">Date</div>
<div class="inact lc-1">Transit Load (+ KG)</div>
<div class="inact lc-2"></div>
<div class="fall-back">···</div>
<div class="rc-1 fld">Ramp Fuel (KG)</div>
<div class="rc-2 val">14800</div>
<div class="inact lc-1">Joining Load (+ KG)</div>
<div class="inact lc-2"></div>
<div class="rc-1 fld">Taxi out fuel (− KG)</div>
<div class="rc-2 val">300</div>
<div class="inact lc-1">Dry Operating Wt (+ KG)</div>
<div class="inact lc-2"></div>
<div class="rc-1 fld">Take off fuel (= KG)</div>
<div class="rc-2 val">11000</div>
<div class="lc-1 fld">MZFW (KG)</div>
<div class="lc-2 val">62500</div>
<div class="rc-1 fld">RTOW (KG)</div>
<div class="rc-2 val">77000</div>
<div class="lc-3 fld">WEIGHT RESTRICTION/REASON</div>
<div class="inact rc-1">L/C OFFICER..........</div>
<div class="inact rc-2">On Chx..........</div>
<div class="lc-3 val">..........</div>
<div class="inact rc-1">Commander..........</div>
<div class="inact rc-2">Planned Dep. Time..........</div>
<div class="fall-back">···</div>
