/* —————————— Docket Structure —————————— */
.wrp {
  display: flex;
}

.tl {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .inact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .fall-back {
    display: none;
  }

  .docket {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .wrp {
    grid-column: 1 / -1;
  }

  .tl {
    grid-column: 3 / -1;
  }

  .three-eighth {
    grid-column: 4/7;
  }

  .lc-1 {
    grid-column: 1 / 3;
  }

  .lc-2 {
    grid-column: 3 / 5;
  }

  .lc-3 {
    grid-column: 1 / 5;
  }

  .rc-1 {
    grid-column: 5 / 7;
  }

  .rc-2 {
    grid-column: 7 / 9;
  }
}
