<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/vrbls.css" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="../../styles/core.css" />
    <link rel="stylesheet" href="./template.css" />
    <title>Template Page - SkyGizmo</title>
    <script src="../../components/core/core.js" defer></script>
    <script src="./template.js" defer></script>
  </head>
  <body>
    <header id="hdr"></header>
    <main id="main">
      <h1>Template Page</h1>
      <p>This is a template page for an app.</p>
    </main>
    <footer id="ftr"></footer>
  </body>
</html>
