/* #region ——————————————————————————— Variables ———————————————————————————— */
#perf {
  /* ———————————— Colors ———————————— */
  --clr-ttl-bkg-1: rgb(237, 237, 237);
  --clr-ttl-bkg-2: rgb(183, 187, 192);
  --clr-ttl-txt: rgb(83, 98, 107);
  --clr-ttl-brd: rgb(118, 122, 128);
  --clr-inp-bkg: rgb(67, 67, 67);
  --clr-inp-txt-1: rgb(255, 255, 255);
  --clr-inp-txt-2: rgb(79, 244, 61);
  --clr-inp-brd: rgb(41, 44, 50);

  /* ——————————— Gradient ——————————— */
  --ttl-bkg-grad: linear-gradient(to bottom, var(--clr-ttl-bkg-1), var(--clr-ttl-bkg-2));
}
/* #endregion */

/* #region ——————————————————————————— Structure ———————————————————————————— */
#perf {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.625rem;
}
#perf .spcr {
}
@media screen and (max-width: 767px) {
  #perf {
    grid-template-rows: 1fr 1fr 0 1fr 1fr;
  }

  #perf > :nth-child(1) {
    order: 1;
  }

  #perf > :nth-child(4) {
    order: 2;
  }

  #perf > :nth-child(2) {
    order: 3;
  }

  #perf > :nth-child(3) {
    order: 4;
  }

  #perf .spcr {
    /* a dummy div to increase row gap, this is causing gap to be
       calculated twice */
    order: 5;
    grid-column: 1 / -1;
  }

  #perf > :nth-child(6) {
    order: 6;
  }

  #perf > :nth-child(9) {
    order: 7;
  }

  #perf > :nth-child(7) {
    order: 8;
  }

  #perf > :nth-child(8) {
    order: 9;
  }
}

@media screen and (min-width: 768px) {
  #perf {
    grid-template-columns: repeat(2, 1fr) repeat(2, auto);
    gap: 1.25rem 0.75rem;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  #perf .spcr {
    display: none;
  }
}
/* #endregion */

/* #region ———————————————————————————— Style ————————————————————————————— */
#perf {
  padding: 1.25rem;

  border: 2px solid black;
  border-radius: 0.5rem;

  background-image: url("./perfcalc.png");
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
}

/* #region —————— Input Field ——————— */
#perf .inp {
  background-color: var(--color-input-outer-background);
  background-color: var(--clr-inp-bkg);
  border: 1px solid var(--clr-inp-brd);
  border-radius: 0.7rem;

  box-shadow: inset 4px 4px 4px rgba(47, 47, 47, 0.75), inset -4px -4px 4px rgba(47, 47, 47, 0.75), 0 1px 0px rgba(255, 255, 255, 0.5);

  display: flex;

  /* ↓ width below is kept by .unit padding-left */
  /* width: 15.8667rem; */
  padding: 0.65rem 1rem;

  /* closest font match Myriad */
}

#perf .inp > * {
  font-size: 1.05rem;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  inline-size: max-content; /* to prevent text wrapping in safari */
}

#perf .lbl {
  color: var(--clr-inp-txt-1);
}

#perf .val,
#perf .unt {
  color: var(--clr-inp-txt-2);
}

#perf .val {
  flex: 1;
  text-align: right;
  padding-left: 1.5rem;

  font-weight: bold;
}

#perf .unt {
  padding-left: 1.725rem;
}
/* #endregion */

#perf .ttl {
  border-radius: 0.15rem;
  border-bottom: 1px solid var(--clr-ttl-brd);

  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}

#perf .ttl,
#perf .btn {
  background: var(--ttl-bkg-grad);
  color: var(--clr-ttl-txt);
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8), /* 2px drop shadow downward */ 0 0 1px rgba(146, 155, 160, 1); /* 1px highlight for engraved effect */
}

#perf .btn {
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
}

#perf .btn {
  border: none;
  cursor: pointer;
  position: relative;
  transition: top 0.1s, box-shadow 0.1s;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1875);
}

#perf .btn:active {
  top: 1px;
}
/* #endregion */
