<div class="wrapper">
  <div class="calculation">
    <div class="title">TAKEOFF</div>
    <div class="input">
      <div class="label">MTOW (PERF)</div>
      <div class="value">≥ 77.0</div>
      <div class="unit">T</div>
    </div>
    <div class="button">
      <button>*</button>
    </div>
    <div class="button">
      <button>⌫</button>
    </div>
  </div>
  <div class="calculation">
    <div class="title">LANDING DISPATCH</div>
    <div class="input">
      <div class="label">MLW (PERF)</div>
      <div class="value">≥ 66.0</div>
      <div class="unit">T</div>
    </div>
    <div class="button">
      <button>*</button>
    </div>
    <div class="button">
      <button>⌫</button>
    </div>
  </div>
</div>
