:root {
  /* —————————— Primary Colors —————————— */
  --clr-pri-1: rgb(161, 143, 99); /* gold */
  --clr-pri-2: rgb(20, 20, 31); /* blue */
  --clr-pri-3: rgb(227, 222, 219); /* gray */
  --clr-pri-4: rgb(245, 247, 245); /* white */

  /* —————————— Secondary Colors —————————— */
  --clr-sec-1: rgb(0, 171, 168); /* green 1 */
  --clr-sec-2: rgb(237, 135, 102); /* orange */
  --clr-sec-3: rgb(247, 209, 148); /* yellow */
  --clr-sec-4: rgb(140, 204, 207); /* green 2 */
  --clr-sec-5: rgb(41, 31, 38); /* black 1 */
  --clr-sec-6: rgb(0, 3, 10); /* black 2 */
}
