/* —————————— Navbar —————————— */
.navbar {
  background-color: var(--clr-pri-2);
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: var(--clr-pri-4);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--clr-sec-4);
  color: black;
}

/* —————————— Footer —————————— */
footer {
  background-color: var(--clr-pri-2);
  color: var(--clr-pri-4);
  font-size: 0.65rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}
