* {
  box-sizing: border-box;
}

body {
  /* —————————— structure —————————— */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;

  /* —————————— style —————————— */
  margin: 0;
  background-color: var(--clr-pri-4);
  color: var(--clr-pri-2);
  font-family: Helvetica, Arial, sans-serif;
}

main {
  flex-grow: 1;
  padding: 1rem;
}
