/* A temporary stylesheet used to view page as a skeleton */

*:not(html, body) {
  background-color: rgba(0, 0, 0, 0.04) !important;
  border: 0.5px solid rgba(13, 61, 108, 0.3) !important;
  color: rgba(13, 61, 108, 0.15) !important;
  margin: 1.5px !important;
}
